body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: beige;
}

header {
    background-color:steelblue;
    text-align: center;
    padding: 20px;
}

section {
    padding: 20px;
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

h3 {
    color: #333;
}

.project {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
}

